@model IEnumerable<WebAppMVC.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New Record", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.UserId  }) |
          
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId  }, new {onclick="return confirm('Are You Sure Want to Delete this Record ????')"})
        </td>
    </tr>
}

</table>
